<!DOCTYPE HTML>
<html>
	<head>
		<title>Consentium Things</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo"><strong>Consentium</strong>Things</a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="things">Things</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Things</h2>
						<p>See all your things here</p>
					</header>
								<!-- Preformatted Code -->
									<h3>API Keys</h3>
									<pre>
        								<p>Read URL: http://127.0.0.1:5000/feeds.json?read_api_key={{read}}</p>
        								<p>Write URL:/update?write_api_key={{write}}&field=
									</pre>
					                <h3>Data from sensor</h3>
										<p>Temperature at {{time_1}} is {{data_1}}</p>
										<p>Temperature at {{time_2}} in topic {{topic}} is {{data_2}}</p>
						</div>
					</div>

				</div>

			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h3>Get in touch</h3>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/skel.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>